<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- (onVale)="searchByRegion($event)" -->
    <!-- <shared-search-box
      (onDebounce)="searchByRegion($event)"
      placeholder="Buscar por País"
    ></shared-search-box> -->
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <countries-table [countriesHijo]="region"></countries-table>
  </div>
</div>
