<h2>Por capital</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- (onVale)="searchByCapital($event)" -->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValueHijo]="initialValue"
      placeholder="Buscar por capital"
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countriesHijo]="countries"></countries-table>
  </div>
</div>
